
body,
html {
	color: #312d2d;
	background-color: #6f6567;
	font-family: 'Helvetica', sans-serif;
	font-size: 11px;
	padding: 0;
	margin: 0;
}

h1 {
	font-family: 'Georgia-Bold', serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: 'Georgia-BoldItalic', serif;
	font-size: 14px;
	color: #524a4b;
	padding: 0;
	margin: 0 0 9px 0;
}

.light {
	background-color: #c0b9b7;
	border-color: #524a4b;
	border-style: solid;
	border-width: 9px 0;
    
}

.dark {
	
}

.section {
}



#artist {
}

#artist_info {
	margin: 1px 0 3px 0;
    max-width: 70%;
}

#category {
	font-family: 'Helvetica-Bold', serif;
	font-size: 9px;
	text-transform: uppercase;
    max-width: 70%;
}

#details {
	padding: 8px 12px;
	background-color: #f1eee9;
	background-image: url('DetailBackground.jpg');
	background-position: center;
    
}

#favoriteButton {
	margin: 1px 0 3px 0;
    max-width: 30%;
    position:absolute;
    right:5px;
}



#location {
	padding: 8px 12px;
}

#location_description {
	margin: 31px 0 0 0;
}

#map {
	height: 175px;
	border: solid 5px #fff;
	margin: 6px;
}

#neighborhood {
	width: 68%;
	float: left;
}

#neighborhood strong {
	font-family: 'Helvetica-Bold', sans-serif;
}

#photos {
	height: 150px;
}

#title {
    max-width: 70%;
}

#ward {
	width: 32%;
	float: right;
	text-align: center;
}

#year {
	font-family: 'Helvetica-Bold', sans-serif;
}