
body,
html {
	color: #312d2d;
	background-color: #6f6567;
	font-family: 'Helvetica-Neue', sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

.light {
	background-color: #c0b9b7;
	border-color: #524a4b;
	border-style: solid;
	border-width: 5px 0;
	-webkit-box-shadow: 0 0 10px #333;
}

.dark {
	
}

.section {
	margin: 0 0 5px 0;
}

#artist {
	
}

#artist_info {
	
}

#category {
	
}

#details {
	padding: 20px;
}

#location {
	padding: 20px;
}

#location_description {
	
}

#map {
	height: 175px;
	border: solid 5px #fff;
	margin: 5px;
}

#neighborhood {
	
}

#photos {
	height: 120px;
}

#title {
	font-size: 18px;
	color: #524a4b;
	padding: 0;
	margin: 0;
}

#ward {
	
}

#year {
	
}